.post__wrapper.post__wrapper--comments
  section.post__comments.comments
    if article.comments.length > 0
      h2.comments__title.title.title--middle Комментарии
      ul.comments__list
        each comment of article.comments
          li.comments__comment
            .comments__avatar.avatar
              img(src='img/avatar-1.png' alt='аватар пользователя')
            .comments__text
              .comments__head
                p Евгений Петров •
                +formatDate(comment.createdAt,'comments__date')
              p.comments__message #{comment.text}
    else
      h2.comments__title.title.title--middle Комментарии отсутствуют
    if user
      .comments__footer.comments__footer--user
        form(action=`${id}/comments` method='POST' enctype="application/x-www-form-urlencoded")
          input(type="hidden" name="_csrf" value=csrfToken)
          .comments__avatar.avatar
            img(src=`/img/${user.avatar}` alt='аватар пользователя')
          label
            textarea(rows='1' name='comment' placeholder='Присоединиться к обсуждению')
          button.comments__button.button.button--colored(type='submit') Опубликовать
        if(validationMessages)
          p.comments__error #{validationMessages}
    else
      .comments__footer.comments__footer--visitor
        button.comments__button.button.button--colored(type='submit') Войти
        .comments__registration
          p.text.text--signature
            b.title.title--small Регистрация
            | Чтобы присоединиться к переписке нужно зарегистрироваться
