doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='description' content='Личный блог Типотека')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Типотека
    link(rel='preload' href='/fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='/fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='/fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/style.min.css')
    style.
      a.active{
        pointer-events: none;
      }
      .server-error{
        border-radius: 10px;
        color: white;
        background-color: tomato;
        margin: 20px 0;
        padding: 10px;
      }
body
  mixin formatStringWithEllipsis(text, length)
    | #{text.length > length ? text.slice(0, length).trim() + '...' : text}
  mixin insertErrorMessage(messages)
    if messages
      each message of messages
        .server-error= message
  mixin formatDate(date, className, attr)
    time(class=className, datatime=(attr || false)) #{date.split('T').join(", ").replace(/\.\d+?Z/, "")}

  mixin pagination(page, totalPages, width, prefix)
    -
      let start = page - width;
      let end = page + width;

      if(start < 1){
        end += 1 - start;
        start = 1;
      }

      if(end > totalPages){
        start -= end - totalPages;
        end = totalPages;
      }

      if(start < 1){
        start = 1;
      }
      let i = start - 1

    .preview__toggle-wrapper
      ul.preview__pagination.pagination
        li
          a(class=`pagination__button button button--backwards ${start > 1 ? '' : 'button--disabled'}` href=`${prefix}page=${page - 1}` aria-label='Страница назад') Назад
        while i++ < end
          li(class=`pagination__item ${i === page ? 'pagination__item--active' : ""}`)
            a(href=`${prefix}page=${i}`)= i
        li
          a(class=`pagination__button button button--forward ${end < totalPages ? '' : 'button--disabled'}` href=`${prefix}page=${page + 1}` aria-label='Страница вперед') Вперёд
  .wrapper
    include partials/header.pug
    block content
    include partials/footer.pug
    include partials/latest-comments.pug
  script(src='/js/vendor.js')
  script(src='/js/main.js')
  script(src='https://cdn.socket.io/4.0.1/socket.io.js')
  script(src='/js/socket.js')
