extends layout.pug

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p.

      Добро пожаловать!
    if articles.length === 0
      .main-page__empty-wrapper
        p.main-page__empty-text Здесь пока пусто!
    else
      section.main-page__theme-list
        h2.visually-hidden Список тем
        ul.themes
          each category of categories
            li.themes__item
              a.themes__item-link(href=`/articles/category/${category.id}`)
                | #{category.name}
                sup #{category.count}
      .main-page__section-flex
        section.main-page__hot.hot
          h2.hot__name
            | Самое обсуждаемое
            span.hot__icon.hot__icon--fire
          if hotArticles.length > 0
            ul.hot__list
              each article of hotArticles
                li.hot__list-item
                  a.hot__list-link(href=`/articles/${article.id}`)
                    +formatStringWithEllipsis(article.announce, 100)
                    sup.hot__link-sup #{article.commentsLength}
          else
            p.hot__empty Здесь пока ничего нет...
        section.main-page__last.last
          h2.last__name
            | Последние комментарии
            span.last__icon.last__icon--cloud
          if latestComments.length === 0
            p.last__empty Здесь пока ничего нет...
          else
            ul.last__list
              each comment of latestComments
                li.last__list-item
                  img.last__list-image(src=`/img/${comment.avatar}` width='20' height='20' alt='Аватар пользователя')
                  b.last__list-name #{comment.firstName + " " + comment.lastName}
                  a.last__list-link(href=`/articles/${comment.articleId}`)
                    +formatStringWithEllipsis(comment.text, 100)
      section.main-page__list.preview
        h2.visually-hidden Список превью статей
        ul.preview__list
          each article of articles
            li.preview__item
              ul.preview__breadcrumbs
                each category in article.categories
                  li.preview__breadcrumbs-item
                    a.preview__breadcrumbs-link(href='#') #{category.name}
              .preview__background
                img.preview__background-image(src='img/skyscraper@1x.jpg' width='460' height='240' srcset='img/skyscraper@1x.jpg, img/skyscraper@2x.jpg 2x' alt='Фотография небоскреба')
              +formatDate(article.createdAt,'preview__time')
              h3.preview__name
                a.preview__name-link(href=`/articles/${article.id}`) #{article.title}
              p.preview__text #{article.announce}
              a.preview__comment(href='#')
                | Комментарии
                span.preview__cloud
                |
                b.preview__comment-count #{article.comments.length}
      +pagination(page, totalPages, 2, `?`)


